<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <ul>
      <li>Get all fishes at
        <strong><span class="code">/fishes</span></strong>
      </li>
      <li>Get a specific fish at
        <strong><span class="code">/fishes/:id</span></strong>
      </li>
      <li>Create a fish at
        <strong><span class="code">/fishes</span></strong>
      </li>
      <li>Update a Fish at
        <strong><span class="code">/fishes/:id</span></strong>
      </li>
      <li>Destroy a Fish at
        <strong><span class="code">/fishes/:id</span></strong>
      </li>
    </ul>
  </body>
</html>
