<h1>Welcome to my Tweet App!</h1>

<%= image_tag 'http://4.bp.blogspot.com/-4seYQgI5_l8/T6Y5ug6H4pI/AAAAAAAAAFg/EIh5asciav8/s1600/twitter.png' %>
<br>
Check out the tweets <%= link_to 'here', tweets_path %>
<br>
Make a new tweet <%= link_to 'here', new_tweet_path %>
