<p id="notice"><%= notice %></p>

<h1>Listing Vampires</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sire</th>
      <th>Staked</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <!-- iterate through all the vampires! -->
      <tr>
        <td><!-- display each vampire's name --></td>
        <td><!-- display each vampire's age --></td>
        <td><!-- display each vampire's sire --></td>
        <td><<!-- display whether each vampire has been staked (boolean) --></td>
        <td><!-- add a link to each vampire's show page --></td>
        <td><!-- add a link to each vampire's edit page --></td>
        <td><!-- add a link to delete this vampire --></td>
      </tr>
    <!-- end the iterator here -->
  </tbody>
</table>

<br>

<!-- add a link to the new vampire page -->
