<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <!-- display the vampire's name -->
</p>

<p>
  <strong>Age:</strong>
  <!-- display the vampire's age -->
</p>

<p>
  <strong>Sire:</strong>
  <!-- display the vampire's sire -->
</p>

<p>
  <strong>Staked:</strong>
  <!-- display the boolean value for whether this vampire has been staked -->
</p>

<!-- add a link to this vampire's edit page --> |
<!-- add a link to the index page -->
